*{
	margin: auto;
}
html{
	background-color: #D0F0C0;
}

.headercontainer{
	width: 100%;
	height: 70px;
	background-color: #4F7942;	
	border-bottom: 1px solid;
	border-color: black;
}
.headerName{
	color:#043927;
	font-family: rockwell;
	font-size: 45px;
	line-height: 60px;
}
.headerLogo{
	float: left;
}
.headerWrapper{
	width: 1400px;
	height: 70px;
	margin:  auto;
	background-color: none;
}
<!--
.navigationsContainer{
	width: 100%;
	height: 100%;
	background-color: #4F7942;
	position: absolute;
	border-color: black;
	border: 1px solid;
}
.navigations a{
	display: block;
	padding: 12px;
	text-decoration: none;
	color:#043927;
	font-family: Arial;
	font-size: 15pt;
	text-align: center;

}
.navigations a:hover{
	background-color: #D0F0C0;
}
.active{
	background-color: white;
}

.content{
	margin-left: 25%;
	padding:1px 16px;
	height: 1000px;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}