body{
	background-image: url("horse2.jpg");
	background-size: cover;
	height: 100%;
}

 .center {
    line-height:0;
    margin:auto;
    text-align:center;
    color:white;
}
.center h1 {
	font-family: Diavlo Light;
	color:white;
	font-size: 60px;		
}
.centerContainer{
	width: 100%;
	height: 95px;
	position: absolute;
	background-color: black;
	opacity: 0.5;
}
.links{
	font-size: 20px;
	list-style-type: none;
}

.links a{
	text-decoration: none;
	color: black;
}
.links a:hover{
	background-color:white;
}
.links a:active{
	background-
}